<div class="col-md-offset-4 col-md-4">
  <div class="panel panel-default">
    <div class="row" style="margin: 0">
      <div class="col-md-12 text-center form-header">
        <h4>Register User</h4>
      </div>
    </div>
    <div class="panel-body">
      
      <form >
        <div class="form-group">
          <label for="firstname">First name</label>
          <input id="firstname" class="form-control"
                 formControlName="firstName">
        </div>
        <!-- <div class="form-group">
          <label for="lastname">Last name</label>
          <input id="lastname"
                 class="form-control"
                 formControlName="lastName">
        </div> -->
        <div class="form-group">
          <label for="address">Address</label>
          <input id="address"
                 class="form-control"
                 formControlName="address">
        </div>
        <!-- <div class="form-group">
          <label for="file">Upload Image</label>
          <input type="file" id="file"
                 class="form-control"
                 formControlName="file" name="file" (change)="fileEvent($event)">
        <img src="{{ imgPreview}}" height="80px" width="60px">
            
        </div> -->
<!--         <input type="hidden" src="{{ image }}" name="image" id="image">  --> 
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email"
                 type="email"
                 class="form-control"
                 formControlName="email">
        </div>
        <div class="form-group">
          <label type="password" for="password">Password</label>
          <input id="password"
                 class="form-control"
                 formControlName="password">
        </div>
        <div>
          <button class="btn btn-success" >Sign Up</button>
        <a routerLink="/login">Login</a>
        </div>
      </form>
    </div>
  </div>
</div>

